.skill-logo{
    width: 100%;
    height: 100%;
}

.skill-logo-frame{
    margin-right:0.75rem;
    max-width: 50px;
    max-height: 50px;
    border: black 2px solid;
    border-radius: 10%;
    padding:4px;
    /* filter: invert(35%) sepia(70%) saturate(500%) hue-rotate(95deg); */
}

.tech-logo{
    width: 100%;
    height: 100%;
}

.tech-logo-frame{
    /* margin-right:0.75rem; */
    max-width: 40px;
    max-height: 40px;
    border: black 1px solid;
    border-radius: 10%;
    padding:1px;
    /* filter: invert(35%) sepia(70%) saturate(500%) hue-rotate(95deg); */
}

.skill-badge {
    --bs-badge-padding-x: 0.8em;
    --bs-badge-padding-y: 0.6em;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.5rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

.skill-badge:empty {
display: none;
}

.card{
    background: #f0f0f0e3;;
}