<!-- Footer-->
<footer class="footer text-center bg-bottom text-white" id="contact">
    <div class="container mt-5">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cog"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-6 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Amsterdam,<br>
                    The Netherlands
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-6 mb-6 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://linkedin.com/in/adrien-courdier/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/acourdier/"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto:adrien.courdier@pm.me"><i class="fa fa-envelope"></i></a>

            </div>
        </div>
    </div>
    <!-- Copyright Section-->
    <div class="py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Adrien Courdier 2025</small></div>
    </div>
</footer>
