<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avatar.jpeg" alt="..." />
        <!-- Masthead Heading-->
        <h6 class="masthead-heading text-uppercase mb-0">Welcome to my page</h6>
        <div class="row justify-content-center">
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cog"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <div class="row">
            <div class="col-lg-12 ms-auto"><p class="masthead-subheading lead">I'm a systems engineer based in Amsterdam, NL. Over the years, I've immersed myself in the realms of industrial systems and turbomachinery, controls and instrumentation, systems engineering and field services.</p></div>
            <div class="col-lg-12 ms-auto"><p class="masthead-subheading lead">My journey revolves around engineering innovative solutions for diverse industries such as oil & gas, power generation, and more. With a track record of leading international teams and spearheading cutting-edge projects, I thrive on tackling complex challenges and driving technological advancements.</p></div>
            <div class="col-lg-12 ms-auto"><p class="masthead-subheading lead">Feel free to contact me for more information!</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Download my CV
            </a>
        </div>
    </div>
</header>