<!-- Masthead-->
<header class="masthead" id="page-top">
    <div class="container mt-5">
        <!-- Masthead Heading-->
        <div class="card p-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-4"><h6 class="masthead-heading mb-0">Hi,<br><br>Welcome to my page.</h6></div>
                    <div class="col-lg-1">
                        <div class="divider-custom-vertical divider">
                            <div class="divider-custom-line"></div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <p class="masthead-subheading lead">I'm a Adrien Courdier, a systems engineer based in Amsterdam, NL. Over the years, I've immersed myself in the realms of industrial systems and turbomachinery, controls and instrumentation, systems engineering and field services.</p>
                        <p class="masthead-subheading lead">My journey revolves around engineering innovative solutions for diverse heavy industries such as oil & gas, steel manufacturing, power generation, and more. With a proven track record of successfully delivered projects in diverse international environments, I thrive on tackling complex and unique challenges.</p>
                        <p class="masthead-subheading lead">Feel free to contact me for more information!</p>
                        <div class="text-center mt-4">
                            <a class="btn btn-xl" download="cv_adrien_courdier.pdf" href="assets/files/cv_adrien_courdier_2025.pdf">
                                <i class="fas fa-download me-2"></i>
                                Download my CV
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>