<!-- Portfolio Modals-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">FPSO - Canada</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-cog"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="rounded mb-5" src="assets/img/portfolio/tn-fpso-664x400-1.jpg" alt="..." />
                            <!-- Portfolio Modal - Description-->
                            <h6 class="text-secondary">Control system migration from GE Fanuc to ABB Compact Suite including HMI. The scope covered four centrifugal gas natural gas compressors. The upgrade was done following a like-for-like replacement logic. The HMI were upgraded with touch panels.</h6>
                            <p class="text-secondary mt-4"><b>Key responsibilities:</b> Logic extraction, technical documentation, PLC programming, HMI development, factory acceptance testing, commissioning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>