<!-- Portfolio Modals-->
<div class="portfolio-modal modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-3">
                <div class="container">
                    <div class="justify-content-center">
                        <div class="">
                            <!-- Portfolio Modal - Title-->
                            <h4 class="title text-secondary text-uppercase"></h4>
                            <h5 class="location text-secondary text-uppercase mb-0"></h5>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-cog"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Short description--> 
                            <h6 class="short-description text-secondary text-uppercase mb-4"></h6> 
                            <img class="rounded modal-img mb-4" src="" alt="..." />
                            <h6 class="text-secondary description mb-4"></h6>
                            <div class="modal-logos mb-4"></div>
                            <p class="text-secondary scope mb-4"></p>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>