<!-- Portfolio Grid Item-->
<div class="col">
    <div class="card h-100 portfolio-item" data-bs-toggle="modal" data-bs-target="#projectModal" project-id={{project-id}}>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <img src={{image}} class="card-img-top" alt="...">
        <div class="card-body">
            <h6>{{title}}</h6>
            <p class="card-text">
                {{short-description}}<br>
                {{short-scope}}<br>
            </p>
            {{tech-skills}}
            {{system-skills}}
            {{industry-skills}}
        </div>
    </div>
</div>