<!-- Skills Section-->
<section class="page-section bg-sec text-white" id="skills">
    <div class="container">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Skills</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cog"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Industrial engineering</h3>
                        <ul class="skill-list">
                            <li><b>Core sciences</b><br>Where it all started. Heat transfer, thermodynamics, steam and gas cycles, gas compression.</li>
                            <li><b>Control systems</b><br>I know my classics. Siemens S7 and PCS7, ABB 800xa, Allen Bradley.</li>
                            <li><b>Protection systems</b><br>Closed systems = easy to commission. Bently Nevada 3300/3500, Woodward, Braun.</li>
                            <li><b>Instrumentation</b><br>Loop-checked them all. Pressures, temperatures, flows, vibrations. HART, analogue.</li>
                            <li><b>Hydraulic systems</b><br>Mechanical governors (this is actual engineering), lube and control oil systems.</li>
                            <li><b>NI LabVIEW</b><br>And all the NI ecosystem. Hardware, vision, real-time and FPGA modules.</li>
                            <li><b>Industrial communication</b><br>Once it works, don't touch it. OPC DA, OPC UA, Modbus, Profibus, TCP-based protocols.</li>
                            <li><b>Documentation</b><br>Wiring, cause & effect and logic diagrams. Can read them but can also make them.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">IT & Programming</h3>
                        <ul class="skill-list">
                            <li><b>Languages</b><br>Proficient in Python, some knowledge in .NET. Can do some bash scripts. Would love to learn Rust and C++.</li>
                            <li><b>Web development</b><br>Can build a website with Django, deploy it on Nginx, do the front-end in good old HTML/CSS/JS.</li>
                            <li><b>IEC 61131-3 PLC languages</b><br>They might be old-fashioned but some systems are running them since before I was born, so who am I to judge.</li>
                            <li><b>Virtualization and containers</b><br>VMware, HyperV, qemu (I love cli), Docker (I love Docker).</li>
                            <li><b>Operating systems</b><br>Linux (because this is the best), Windows Server (because we have to).</li>
                            <li><b>Network configuration and maintenance</b><br>Routing & iptables (discovered what headache means), troubleshooting.</li>
                            <li><b>CAD drawings</b><br>Solidworks, AutoCAD. I might be a bit rusty but that would come back.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Personal</h3>
                        <ul class="skill-list">
                            <li><b>Team work</b><br>International experience with multi-cultural teams.</li>
                            <li><b>Reporting</b><br>Factual, concise and objective.</li>
                            <li><b>Problem-solving</b><br>I will not let it go.</li>
                            <li><b>Innovation</b><br>There is always an alternative.</li>
                            <li><b>Adaptability</b><br>Worked offshore, in the jungle, in the desert. Also at the office.</li>
                            <li><b>Critical thinking</b><br>It is not because it is written that it is true.</li>
                            <li><b>Effective communication</b><br>System testing (FAT, SAT) with many end-users.</li>
                            <li><b>Time management</b><br>Used to work under high pressure in the field.</li>
                            <li><b>Leadership style</b><br>Small teams + few to-the-point meetings = quality delivery.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>