<!-- Skills Section-->
<section class="page-section bg-sec text-white" id="skills">
    <div class="container mt-5">
        <!-- Skills Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Skills</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cog"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Skills Section Content-->
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Industrial engineering</h4>
                        <ul class="skill-list" id="industrySkills"></ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">IT & Programming</h3>
                        <ul class="skill-list" id="programmingSkills"></ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Personality, soft skills</h3>
                        <ul class="skill-list" id="personalSkills"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>